.sample {
	color: black;
	text-decoration: none;
	font: normal bold 12px/15px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-align: center;
	direction: ltr;
	text-transform: none;
	text-indent: 3px;
	letter-spacing: 2px;
	word-spacing: 2px;
	white-space: normal;
	unicode-bidi: normal;
	vertical-align: -1px;
	background: white none repeat-y fixed 10px 10px;
	width: 200px;
	height: 200px;
	padding: 1px 2px 3px 4px;
	margin: 1px 2px 3px 4px;
	display: inline;
	float: right;
	clear: right;
	position: static;
	top: 1px;
	right: 2px;
	bottom: 3px;
	left: 4px;
	visibility: visible;
	overflow: auto;
	z-index: 0;
	border-top: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 3px solid black;
	border-left: 4px solid black;
	text-shadow: silver 0px 0px 0px;
	list-style-type: disc;
	list-style-position: outside;
	opacity: 0.75;
}